.Feature-6 article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  width: 1440px;
}

.Feature-6 h2 {
  width: 540px;
  height: 108px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  margin-left: 100px;
}
.Feature-6 p {
  width: 540px;
  height: 128px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-right: 100px;
}

.Feature-6 img {
  margin: 20px 0 0 150px;
  width: 1110px;
  height: 400px;
}
