* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
p {
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  background-image: url(./Background\ header.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  height: 72px;
}
.header nav li {
  list-style: none;
  padding: 20px;
  font-family: "Inter";
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
}
.header ul li select {
  transition: all 0.3s;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  font-family: "Inter";
}
