.features-section,
.features-container {
  display: flex;
  flex-direction: column;
}

.features-section {
  gap: 50px;
  align-items: center;
}

.tallor-made {
  margin-top: 30px;
  width: 540px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-heading {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-container {
  gap: 65px;
}

.features-row-one,
.features-row-two {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 350px;
}

.feature-description {
  text-align: center;
}

.feature-heading {
  font-size: 24px;
}

.feature-description {
  line-height: 26px;
  font-size: 16px;
}

.feature-icon {
  margin-bottom: 16px;
}
