/*  there is a same problem just like the in the main section */
.footer {
  position: absolute;
  background-color: #18191f;
  height: 300px;
  width: 100%;
  top: 491px;
}
.footer span {
  position: absolute;
  width: 160px;
  height: 140px;
  left: 1115px;
  top: 56px;
  padding: 50px;
}
.footer div {
  position: absolute;
  width: 489px;
  height: 168px;
  left: 75px;
  top: 56px;
}
.footer span p {
  width: 160px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
  color: #d9dbe1;
  margin-bottom: 12px;
}
.footer div img {
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
}
.up {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 199px;
  height: 26px;
}
.down {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 44px;
  width: 550px;
  height: 26px;
  margin: 5px 0 30px;
}
.footer li {
  list-style: none;
}
.footer h5 {
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
}
