.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
.navlinks-container {
  display: flex;
  gap: 20px;
  right: 120px;
  position: relative;
}

.badge {
  margin: 0 10px;
}
