.navbar {
  width: 80%;
  margin: auto;
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.logo-container,
.navlinks-container,
.nav-badge-links-container {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 14px;
}

.nav-badge-links-container {
  gap: 12px;
}
