* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: #18191f;
  font-family: "Inter", sans-serif;
  font-weight: 400px;
}

li {
  list-style: none;
}

a {
  color: #18191f;
  text-decoration: none;
}

.app {
  width: 100%;
  margin: 0 auto;
  background-image: url("/images/hero/hero-backround.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
