.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #d5fafc;
  height: 896px;
  margin-top: 70px;
  position: relative;
}

.right-column,
.left-column {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.right-column {
  margin-top: 90px;
}
.testimoinals-hubspot,
.testimonials-airbn,
.testimonials-bookmyshow {
  background-color: white;
  padding: 30px;
}

.testimonials-intro div {
  margin-top: 80px;
}
.testimonials-intro img {
  height: 120px;
  width: 145px;
  position: absolute;
  left: 165px;
  right: 1130px;
  bottom: 710px;
  top: 64px;
}
.testimonials-image {
  height: 14px;
  width: 16px;
}

.testimonials-rightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-header {
  font-size: 48px;
  height: 128px;
  width: 445px;
  height: 128px;
  font-weight: 800;
}

.testimonials-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.testimonials-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 24px;
}

.testimoinal-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
}

.testimonials-inside {
  display: flex;
  gap: 16px;
  padding-top: 25px;
}

.testimoinals-hubspot {
  height: 450px;
  width: 350px;
  margin-left: 90px;
  padding: 30px;
  margin-bottom: 80px;
}

.testimonials-airbn {
  width: 450px;
  height: 340px;
}

.testimonials-bookmyshow {
  width: 350px;
  height: 280px;
}
